In [72]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

In [115]:
class CustomLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns
        self.classes_ = []
        self.testVar = []
        
    def fit(self,X,y=None):
        return self

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        le = preprocessing.LabelEncoder()
        output = X.copy()
        
        self.columns = []
        self.classes_= []
        for colname,col in output.iteritems():
            output[colname] = le.fit_transform(col)
            self.columns.append(colname)
            self.classes_.append(le.classes_)
        target = {'play' : output['play']}
        target = pd.DataFrame(data=target)
        output = output.drop(labels='play', axis = 1)
        return (output,target)

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)
    
    def inverse_transform(self, X):
        output = X.copy()
        le = preprocessing.LabelEncoder()
        i = 0
        for colname,col in output.iteritems():
            le.fit(self.classes_[i])
            output[colname] = le.inverse_transform(col)
            i += 1
        
        return output

le = CustomLabelEncoder()

In [117]:
#READ DATA FROM CSV
dataframe = pd.read_csv("weather.nominal.csv")
output, target = le.fit_transform(dataframe)

In [118]:
output

    outlook  temperature  humidity  windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

In [119]:
target

    play
0      0
1      0
2      1
3      1
4      1
5      0
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     0

In [126]:

nbrs = KNeighborsClassifier(n_neighbors=2, algorithm='auto').fit(output,target)
#distances, indices = nbrs.kneighbors(dataframe)
#dataframe = le.inverse_transform(dataframe)
#dataframe
nbrs.predict([[0,1,1,1]])
#le.inverse_transform(dataframe)

c:\users\rebellion\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

array([1])

## Naive Bayes